body{
	background-image: url(./images/background.jpg);
	font-family: 'IBM Plex Mono', monospace;
	/* height: auto; */
	/* width: auto; */
 
}

.mobile-menu{
	display: none;
}

.img-header{
	display: flex;
	justify-content: center;
	
}

.main, .filters{
	width: 95%;
	margin: 1rem 2rem;	
	align-items: center;
	margin-bottom: 1rem;
}

.main, .filters{
	width: 95%;
	margin: auto;	
	margin-top:5px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0rem 0rem 0rem;
	gap: 10px;
}

.nav-bar{
	background-color: rgb(255, 255, 255);
	padding: .1rem;
	font-size: larger;
	opacity: 70%;
}

.listNav, .itemNav a{
  display: flex;
	justify-content: space-around;
	list-style-type: none;
	text-decoration: none;
	text-transform: uppercase;
	font-size: small;
	font-weight: 600;
	font-family: 'IBM Plex Mono', monospace; 
	align-items: center;
	opacity: 100%;

}

.listNav{
  margin: 1rem 2rem;
	padding: 0rem;

}
.listNav a:hover, footer a:hover, .jogos:hover{
	font-size: larger;
 	cursor: pointer; 
}

.jogos a.invisible{
	display: none;

}
.jogos:hover a.invisible, a.invisible{
	display: block;
	font-size: x-small;

}

footer{
	font-family: 'IBM Plex Mono', monospace; 
	text-align: center;
	/* igual ao nav - aqui parece mais escuro */
	background-color: rgb(255, 255, 255);
	padding: .5px;
	font-size: larger;
	opacity: 60%;
	margin-top: .5rem; /*quebra entre os cards e o footer*/

}
footer h4{
	margin: .8rem;
	opacity: 100%;
}
footer a{
	color: #3ADFAD;
	text-decoration: none;
	font-weight: 600;
}

/* menu hamburguer do responsivo */
/* @media screen and (max-width: 720px) {
.mobile-menu {
	display: none;
	cursor: pointer;
  }
  
  .mobile-menu div {
	width: 32px;
	height: 2px;
	background: #fff;
	margin: 8px;
	transition: 0.3s;
  }
} */

/* @media (max-width: 600px) { 
	 refazer, coloquei a class nav-list pelo id nav-list 
	body {
	  overflow-x: hidden;
	}
	#nav-list {
	  position: absolute;
	  top: 8vh;
	  right: -30px;
	  width: 50vw;
	  height: 92vh;
	  flex-direction: column;
	  align-items: center;
	  justify-content: space-around;
	  transform: translateX(100%);
	  transition: transform 0.3s ease-in;
	  z-index: 9;
	}
	#nav-list .itemNav {
	  margin-left: 0;
	  opacity: 0;
	}
	.mobile-menu {
	  display: block;
	}
  #nav-list.active {
	transform: translateX(0);
  }
}

@keyframes navLinkFade {
	from {
	  opacity: 0;
	  transform: translateX(50px);
	}
	to {
	  opacity: 1;
	  transform: translateX(0);
	}
}

 daqui pra baixo não deveria ficar dentro do @media? 
	.mobile-menu.active .line1 {
		transform: rotate(-45deg) translate(-8px, 8px);
		}
		
		.mobile-menu.active .line2 {
		opacity: 0;
		}
		
		.mobile-menu.active .line3 {
		transform: rotate(45deg) translate(-5px, -7px);
		}
 */
