body{
  text-align: center;
	font-family: 'IBM Plex Mono'; 
  margin: 0;
  padding: 0;
}

main{
  justify-content: center;
  margin: 0rem 4rem;
}
h1{
  color: #3adfad;
}

img{
  margin-bottom: -2.2rem;
}
.logo{
  margin: -1.2rem;
}
.time {
  display: flex;
  color: aliceblue;
  margin: 1rem auto;
  border: 2px solid;
  width: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .5rem;
  width: 80%;
  max-width: 700px;
  margin: 1rem auto;
  
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-between; */
  aspect-ratio: 9/10;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: all 700ms ease;
  transform-style: preserve-3d;
  margin: .2rem auto;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 1px solid #b3d929;
  border-radius: 10px;
  transition: all 700ms ease;
}

.front {
 transform: rotateY(180deg);
}

.back {
  background-image: url("./images/rick\ e\ morty6.jpg");
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

@media screen and (max-width: 920px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}