body{
  text-align: center;
	font-family: 'IBM Plex Mono'; 
}

main{
  justify-content: center;
  height: 100%;
 
}
.title{
  color: #3adfad;
  margin-top: 3rem;
}

img{
  margin-bottom: -2.2rem;
}

.logo{
	margin-top: 1rem;
  }
  
.time {
  display: flex;
  color: aliceblue;
  margin: 0 auto;
  border: 2px solid;
  width: 10rem;
  font-size: 2rem;
  border-radius: 5px;
}

.grid-game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .5rem;
  width: 80%;
  max-width: 700px;
  margin: 1rem auto;
  
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-between; */
  aspect-ratio: 9/10;
  width: 100%;
  border-radius: 5px;
  position: relative;  
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
  margin: .2rem auto; 
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
 
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 1px solid #b3d929;
  border-radius: 10px;
  -webkit-transition: all 700ms ease;
  -moz-transition:all 700ms ease ;
  -ms-transition:all 700ms ease ;
  -o-transition:all 700ms ease ;
  transition: all 700ms ease;
}

.front {
 -webkit-transform: rotateY(180deg);
 -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.back {
  background-image: url("./images/rick\ e\ morty6.jpg");
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

@media screen and (max-width: 920px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .time{
    width: 8rem;
    font-size: 1.5rem;
  }

 }
 @media screen and (max-width: 523px)
 {
  footer{
    position: absolute;

  }
 }
/* 
 @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (orientation : landscape) 
    and (-webkit-min-device-pixel-ratio : 2)
{ }

@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 2)
{ } */