h2{
	text-align: center;
	margin: 0% 2% 5% 2%;
}

.mainQuiz{
	color: #3ADFAD;
	font-family: 'IBM Plex Mono', monospace;
	margin: 1rem;
  padding: 1rem;
	margin: auto;

}

.quiz{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 0rem 1.5rem;
}

.quizQuestion{
	display: inline-block;
	text-align: left;
  padding: .5rem;
  margin: .5rem;
}
.quizQuestion::before{
	content: "🧐"
}

.divQuiz{
	border-radius: 10px;
	border: 2px solid rgba(128, 0, 128, 0.466);
	width: 30%;
	background-color: rgba(128, 0, 128, 0.493);
}

.correta{
	background-color: rgba(0, 228, 0, 0.459)
}

.errada{
	background-color: rgba(255, 0, 0, 0.459)
}

.quizRespostas{
 margin-left: 2rem;
}

@media screen and (max-width: 489px) {
	.mainQuiz{
		display: flex;
		flex-direction: column;
	}
	
	.quiz{
		display: flex;
		flex-direction: column;
		margin-left: 1rem;
	}

	.divQuiz{
		width: 90%;
		justify-content: center;
		margin: auto;
	}
}
