body{
	height: 100%;
}
h1{
	margin: auto;
	margin-top: 1rem;
	text-align: center;
	color: #3ADFAD;
}

ul{
	padding-right: 20px;
	list-style: none;
}
.logo{
	margin-top: 1rem;
  }

.cardContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 1rem;

}
li{
	font-size: 1.1rem;
}

.cardItem{
	background-color: #3ADFAD;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	place-items: center;
	height: 350px;	
	margin: auto 8px;
	margin-top: 2%;
	width: 230px;
	opacity: 80%;

}

.card-img {
	text-align: center;	
	border-radius: 50%;
	margin-top: 2px;
	margin: auto;
}

.footer-sobre{
	position: fixed;
}

@media screen and (min-width: 438px) and (max-width: 524px) {
	.cardItem{
		width: 200px;
		margin: auto;
	}

	li{
		font-size: 1rem;
	}
	
  }

  @media screen and (min-width: 320px) and (max-width: 437px) {
	.cardItem{
		width: 180px;
		margin: auto;
	}
	li{
		font-size: 0.8rem;
	}
	
  }

 @media screen and (max-width: 523px)
 {
  footer{
    position: absolute;

  }
 }
