
h1{
	margin: auto;
	margin-top: 1rem;
	text-align: center;
	color: #3ADFAD;
}

ul{
	padding-right: 20px;
	list-style: none;
}

.cardContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;

}

.cardItem{
	padding: 1rem;
	background-color: #3ADFAD;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	place-items: center;
	height: 350px;	
	margin: auto 8px;
	margin-top: 2%;
	width: 230px;
	opacity: 80%;

}

.card-img, a {
	text-align: center;
	width: 90%;
	border-radius: 50%;
	margin-top: 2px;
	margin: auto;

}
